body{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	border-bottom: 3px solid black;
  color: red;
  font-weight: 700;
}
h2{
	text-align: center;
	border-bottom: 2px solid red;
}
h4{
	text-align: center;
  border-bottom: 1px solid green;
}
.cust-border{
  border: 1px solid black;  
}
/*=========================*/
    .ui-controlgroup-vertical {
      width: 150px;
    }
    .ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
    .ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
      text-align: center;
    }
    #car-type-button {
      width: 120px;
    }
    .ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
    }
/*=========================*/

/*=========================*/